@using Application.Dictionaries.Commands.CreateDictionaryRow
@using Domain.Enums
@model CreateDictionaryAndRowsCommand

<section>
    <div class="container text-left">
        <div class="row justify-content-center">
            <div class="col-4 border bg-opacity-10 rounded pb-2">
                <header class="text-center"><h2>Создание словаря</h2></header>
                <form id="CreateDictionaryForm" method="post" asp-action="createDictionary">
                    <button type="submit" class="btn btn-success">Создать</button>
                    <input asp-for="CreateDictionaryCommand.UserId" value="@Guid.Parse(@User.FindFirst("Id").Value)" hidden/>
                    <div>
                        <header asp-for="CreateDictionaryCommand.Title"></header>
                        <input class="form-control text-center" type="text" asp-for="CreateDictionaryCommand.Title" placeholder="Введите название словаря" />
                        <span asp-validation-for="CreateDictionaryCommand.Title" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="CreateDictionaryCommand.Description"></label>
                        <textarea style="resize: none;" rows="4" class="form-control" asp-for="CreateDictionaryCommand.Description" placeholder="Введите описание словаря"></textarea>
                        <span asp-validation-for="CreateDictionaryCommand.Description" class="text-danger"></span>
                    </div>
                    <div class="form-inline">
                        <label asp-for="CreateDictionaryCommand.WordLanguage"></label>
                        <label asp-for="CreateDictionaryCommand.TranslationLanguage" class="float-end"></label>
                    </div>
                    <div class="input-group">
                        <select class="form-select" asp-for="CreateDictionaryCommand.WordLanguage" asp-items="Html.GetEnumSelectList<Language>()">
                            <option value="" disabled selected>выберите язык</option>
                        </select>

                        <select class="form-select" asp-for="CreateDictionaryCommand.TranslationLanguage" asp-items="Html.GetEnumSelectList<Language>()">
                            <option value="" disabled selected>выберите язык</option>
                        </select>
                        
                        <div class="form-inline">
                            <span asp-validation-for="CreateDictionaryCommand.WordLanguage" class="text-danger float-end"></span>
                            <span asp-validation-for="CreateDictionaryCommand.TranslationLanguage" class="text-danger float-end"></span>
                        </div>
                    </div>
                    <hr />
                    <div id="DictionaryRows">
                        <div class="form-inline">
                            <span asp-validation-for="CreateWordsCommand.Words[0].Text" class="text-danger"></span>
                            <span asp-validation-for="CreateWordsCommand.Words[0].Translation.Text" class="text-danger float-end"></span>
                        </div>
                        <div class="input-group  bg-opacity-10 border border-secondary-subtle rounded">
                            <input class="form-control" type="text" name="CreateWordsCommand.Words[0].Text" />
                            <input class="form-control" type="text" name="CreateWordsCommand.Words[0].Translation.Text" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    let i = 0;
    document.querySelector("input[name='CreateWordsCommand.Words[0].Text']").addEventListener("change", addDictionaryRow)
    function addDictionaryRow(){
        let lastRow = document.querySelector("input[name='CreateWordsCommand.Words[" + i + "].Text']")
        
        if (!lastRow.value) return

        i++
        let input1 = document.createElement("input")
        input1.className = "form-control"
        input1.type = "text"
        input1.name = "CreateWordsCommand.Words[" + i + "].Text"
        let input2 = document.createElement("input")
        input2.className = "form-control"
        input2.type = "text"
        input2.name = "CreateWordsCommand.Words[" + i + "].Translation.Text"
        let div = document.createElement("div")
        div.className = "input-group  bg-opacity-10 border border-secondary-subtle rounded"
        div.append(input1)
        div.append(input2)

        document.querySelector("#DictionaryRows").append(div)
        
        document.querySelector("input[name='CreateWordsCommand.Words[" + i + "].Text']").addEventListener("change", addDictionaryRow)
    }
    document.querySelector("#CreateDictionaryCommand_WordLanguage").addEventListener("change", (e) => {
        fillLanguages(e, "#wordLanguageName")
    })
    document.querySelector("#CreateDictionaryCommand_TranslationLanguage").addEventListener("change", (e) => {
        fillLanguages(e,"#translationLanguageName")
    })

    function fillLanguages(e,spanId){
        let selected = e.target;
        document.querySelector(spanId).innerText = selected.options[selected.selectedIndex].text;
    }

    document.querySelector("#CreateDictionaryForm").addEventListener("submit", event => {
        event.preventDefault()
        let form = document.querySelector("#CreateDictionaryForm")
        document.querySelector("input[name='CreateWordsCommand.Words[" + i + "].Text']").remove()
        document.querySelector("input[name='CreateWordsCommand.Words[" + i + "].Translation.Text']").remove()
        form.submit()
    })
</script>
