@using Application.Dictionaries.Commands.CreateDictionary
@model CreateDictionaryCommand

<section>
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-4">
                <a class="btn btn-primary" asp-action="createDictionary">Создать новый словарь</a>
            </div>
        </div>
    </div>
</section>