/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body{
    background-color: rgb(230 230 230);
}
input:focus, select:focus, textarea:focus {
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5),
        0px 2px 4px rgba(0, 0, 0, 0.1),
        0px 4px 8px rgba(0, 0, 0, 0.1),
        0px 8px 16px rgba(0, 0, 0, 0.1);
}
html{

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
